<nav>
    <div class="nav-wrapper">
        <div class="nav-title">
            <a href="/trips"><%= user.firstName%>'s trips</a>
        </div>
        <div class="nav-right">
            <a href="/logout">LOGOUT</a>
        </div>
    </div>
</nav>