<div class="trip-header">
    <div class="trip-header-title">
        <%= trip.macroLocation %>
    </div>
</div>
<div class="trip-nav">
    <a href="/" class="clean-anchor">
    <div class="trip-nav-item nav-item-ative">
        <span>route</span>
    </div>
    </a>
</div>