<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<% if (trips) { %>
    <% trips.forEach(function(t) { %>
        <h3><%= t.macroLocation %></h3>
    <% }) %>
<% } %> 

<%- include('../partials/footer') %>