<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div class="new-trip">
    <div>WHERE TO?</div>
    <form action="/trips" method="POST">
        <label>Country / Territory / State
            <input type="text" name="macroLocation">
        </label>
        <div>
            <input class="form-submit" type="submit" value="lets go">
        </div>
    </form>
</div>



<%- include('../partials/footer') %>