<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div class="uniform-padding">

    <form action="/trips" method="POST">
        <div class="flex-form">
            <div class="flex-form-inputs">
                <div>WHERE TO?</div>
                <div>
                    <input type="text" name="macroLocation" required placeholder="Country / Territory / State">
                </div>
            </div>
            <div class="flex-form-submit">
                <div class="animate-btn form-submit-div sage">
                    <input class="form-submit-input" type="submit" value="lets go">
                </div>
            </div>
        </div>
    </form>
</div>



<%- include('../partials/footer') %>