<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div class="trip-header">
    <div class="trip-header-title">
        <%= trip.macroLocation %>
    </div>
</div>

<%- include('../partials/footer') %>